html , body {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.red {
    background: rgb(218, 45, 45);
}

.green {
    background: chartreuse;
}
